/* navbar color */
.bg-blue {
	background-color: silver;
}

body {
	background-image: url('images/embossed-diamond.webp');
	background-repeat: repeat;
    text-decoration: none;
	font-family: sans-serif;
	font-weight: bolder;
	font-size: large;
}
/* only affects the watch oasis section on the navbar */
.navbar-brand {
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    font-size: xx-large;
}
/* affects user login header and the first paragraph on homepage  */
.ul1, .pitch {
    padding-top: 1%;
}

h5 {
	text-decoration: underline;
	font-weight: bold;
}

h1, h2 {
	text-decoration: none;
	font-weight: bolder;
}

.card {
	height: 55vh;
	min-height: 55vh;
	max-height: 55vh;
	margin-bottom: 1.2rem;
}

