.bg-blue {
	background-color: silver;
}

body {
	background-image: url('images/embossed-diamond.webp');
	background-repeat: repeat;
    text-decoration: none;
	font-family: sans-serif;
	font-weight: bolder;
}

.navbar-brand {
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    font-size: xx-large;
}

.ul1{
    padding-top: 1%;
    
}

.pitch{
    padding-top: 1%;
}


/* 
.col-md-6 {
	text-decoration: none;
	font-family: sans-serif;
	font-weight: bolder;
	color: gray
}
   */
  
